*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    padding: 16px;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    background-color: #090909;
    color: #fff;
}
header{
    display: flex;
    justify-content: space-between;
    height: 10%;

}

main{
    display: flex;
    height: 80%;
    justify-content: center;
    align-items: center;

}

main img{
    height: 80%;
}

div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
}

.divheader{
    flex-direction: row;
    color: #fff;
}
.divheader img{
    width: 30px;
    height: 30px;
}
.divheader h2{
 color: #fff;
}

h1{

 font-family: "Teko", sans-serif;
 font-size: 46px;
}

h2{
    font-family: "Teko", sans-serif;   
}

span{
    color: #6BD41A;
}

footer{
    display: flex;
    height: 10%;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.divfooter1{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    
}
.divfooter1 img{
    width: 30px;
    
}

.visivel{
    display: none;
}

p,h3{
    display: inline;
    font-family: "Teko", sans-serif;
    color: #AAAAAA;
}

@media (min-width: 1024px) {
    .divfooter1{
        justify-content: space-around;
    }

    header{
        justify-content: space-around;
    }

    .visivel{
        display: block;
    }

    
    .div-escondida{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        font-family: "teko";
    }

   


    body{
        background-image: url(./img/background.png);
        background-repeat: no-repeat;
        background-position: center;
    }

    main{
        justify-content: space-around;
    }

    main img{
        height: 70%;
    }

    h1{
        font-size: 80px;
    }

}